openapi: 3.1.0
info:
  title: RoLinker - OpenAPI 3.1
  description: Description
  version: 1.0.0
servers:
  - url: https://rolinker.net/api/convert
tags:
  - name: convert
    description: Convert account IDs between Roblox and Discord
paths:
  /roblox-to-discord:
    get:
      tags:
        - convert
      summary: Get Discord ID by Roblox ID
      operationId: RobloxToDiscord
      parameters:
        - name: robloxId
          in: query
          description: ID of Roblox account to be converted
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscordAccount'
        '400':
          description: Invalid ID supplied
        '401':
          description: Invalid API key supplied
        '404':
          description: Discord user not found
      security:
        - api_key: []
  /discord-to-roblox:
    get:
      tags:
        - convert
      summary: Get Roblox IDs by Discord ID
      operationId: DiscordToRoblox
      parameters:
        - name: discordId
          in: query
          description: ID of Discord account to be converted
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RobloxAccounts'
        '400':
          description: Invalid ID supplied
        '401':
          description: Invalid API key supplied
        '404':
          description: Roblox accounts not found
      security:
        - api_key: []
  /guilds/{id}:
    get:
      tags:
        - guilds
      summary: Get guild information
      operationId: GetGuild
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guild'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Guild not found
      security:
        - api_key: []
  /guilds/{id}/members/associated-account:
    get:
      tags:
        - guilds
      summary: Get associated Roblox account of a guild member
      operationId: GetAssociatedAccount
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RobloxAccount'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Associated account not found
      security:
        - api_key: []
  /guilds/{id}/members/update-roles:
    post:
      tags:
        - guilds
      summary: Update guild member roles based on Roblox roles
      operationId: UpdateMemberRoles
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Guild or member not found
      security:
      - api_key: []
  /guilds/{id}/roblox-bot/shout:
    post:
      tags:
        - guilds
      summary: Update Roblox group shout via bot
      operationId: UpdateGroupShout
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            requestBody:
              content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ShoutRequest'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Guild not linked to Roblox group
        '500':
          description: Internal server error
      security:
      - api_key: []
components:
  schemas:
    RobloxAccounts:
      type: array
      items:
        $ref: '#/components/schemas/RobloxAccount'
    RobloxAccount:
      type: object
      properties:
        id:
          type: string
          examples:
            - '44814245'
        userId:
          type: string
          examples:
            - '952777630078341121'
        isPrimary:
          type: boolean
          examples:
            - true
    DiscordAccount:
      type: object
      properties:
        userId:
          type: string
          examples:
            - '952777630078341121'
    Guild:
      type: object
      properties:
        id:
          type: string
        groupId:
          type: string
        inviteChannelId:
          type: string
        parentGuildId:
          type: string
    ShoutRequest:
      type: object
      properties:
        shout:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      name: apiKey
      in: header
