openapi: 3.1.0
info:
  title: RoLinker - OpenAPI 3.1
  description: Description
  version: 1.0.0
servers:
  - url: https://rolinker.net/api/convert
tags:
  - name: convert
    description: Convert account IDs between Roblox and Discord
paths:
  /roblox-to-discord:
    get:
      tags:
        - convert
      summary: Get Discord ID by Roblox ID
      operationId: RobloxToDiscord
      parameters:
        - name: robloxId
          in: query
          description: ID of Roblox account to be converted
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscordAccount'
        '400':
          description: Invalid ID supplied
        '401':
          description: Invalid API key supplied
        '404':
          description: Discord user not found
      security:
        - api_key: []
  /discord-to-roblox:
    get:
      tags:
        - convert
      summary: Get Roblox IDs by Discord ID
      operationId: DiscordToRoblox
      parameters:
        - name: discordId
          in: query
          description: ID of Discord account to be converted
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RobloxAccounts'
        '400':
          description: Invalid ID supplied
        '401':
          description: Invalid API key supplied
        '404':
          description: Roblox accounts not found
      security:
        - api_key: []
components:
  schemas:
    RobloxAccounts:
      type: array
      items:
        $ref: '#/components/schemas/RobloxAccount'
    RobloxAccount:
      type: object
      properties:
        id:
          type: string
          examples:
            - '44814245'
        userId:
          type: string
          examples:
            - '952777630078341121'
        isPrimary:
          type: boolean
          examples:
            - true
    DiscordAccount:
      type: object
      properties:
        userId:
          type: string
          examples:
            - '952777630078341121'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
